.login {
    position: relative;
    width: 100%;
    background: #fff;
    display: flex;

    .form {
        margin: auto;
        padding: 30px;
        width: 400px;

       
        
        
        h1, p {
            font-family: 'Roboto Sans', sans-serif;
            line-height: 1.6;
        }
        h1 {
            font-weight: 900;
            font-size: 2.5rem;

            @media screen and (max-width: 700px){
                font-size: 2rem;
            }
        }
        button {
            width: 100%;
            margin: auto;
        }

       
    }
    
}

.reset__password {
    width: 95%;
    height: 40px;
    padding-left: 10px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 4px;
}