.main {
  height: auto;
  margin: auto;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
}

.welcome-text {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  text-align: center;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .welcome-text {
    padding-top: 20px;
  }
}

.bg-color {
  /* background-color: black; */
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
}

.center-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.city-search {
  width: 500px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 30px;
  margin-bottom: -30px;
}

.city-search-input {
  background: white;
  width: auto;
  flex: 1;
  border: none;
  outline: none;
  height: 50px;
  margin-right: 16px;
}

button {
  background: beige;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s linear;
  outline: none;
}
h3.heading__text {
  margin-top: 20px;
  margin-bottom: 20px;
}
.how__it__spread{
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
}

.how__it__spread section{
  width: 300px;
  margin: 10px;
  height: auto;
  padding: 10px;
}
.how__it__spread section h1{
  font-family: 'Roboto Mono', monospace;
  color: #234A65;
  line-height: 1.4;
  margin-bottom: 10px;
}
.how__it__spread section p {
  color: #999999;
  line-height: 1.2;
  text-align: justify;
}

.how__it__spread section img {
  width: 60px;
  margin-bottom: 30px;
}
a.next__link {
  margin-right: auto;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  width: 230px;

}

.results {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 48px 16px 0px;
  height: auto;
  place-items: center;
}

@media (max-width: 700px) {
  .max-width {
    padding: 0 16px;
  }

  .city-search {
    width: 85%;
  }
  .welcome-text {
    font-size: 1.3rem;
   }
}
