.report {
    width: 100%;
    padding-top: 20px;
    font-family: 'Roboto Sans', sans-serif;
    h1 {
        margin-bottom: 20px;
           @media screen and (max-width: 700px) {
                font-size: 1.5rem;
                line-height: 1.4;
            } 
        }
    form {
        
        .e__bio__data {
            width: 50%;

            @media screen and (max-width: 700px) {
                width: 100%;
            }
        }
    }
}