.dashboard {
  height: auto;
  margin: auto;
  width: 100%;
}

.welcome-text {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  img {
    margin: auto;
  }
  button {
    width: 20px;
    height: 40px;
  }
}

.bg-color {
  /* background-color: black; */
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
}

.center-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.city-search {
  width: 500px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 30px;
  margin-bottom: -30px;
}

.city-search-input {
  background: white;
  width: auto;
  flex: 1;
  border: none;
  outline: none;
  height: 50px;
  margin-right: 16px;
}

button {
  background: beige;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s linear;
  outline: none;
}

.results {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 48px 16px 0px;
  height: auto;
  place-items: center;
}

@media (max-width: 700px) {
  .max-width {
    padding: 0 16px;
  }

  .city-search {
    width: 85%;
  }
  .welcome-text {
    font-size: 1.3rem;
   }
}
