$primary: #011f4b;
$secondary: #03396c;
$warning: #005b96;
$info: #6497b1;
$light: #b3cde0;
$gray: #202124;

.nav-image-list {
    .MuiList-padding {
        padding: 0;
    }
    a {
        width: 90%;
        margin-left: 10px;
        margin-top: 10px;
        background: $primary;
        
    }
}


.HeaderClass {
    header {
        width: 100%;
        height: calc(2rem * 2);
        border-bottom: 1px solid #ebeaeb;
        background: #fff;
        position: relative;
        z-index: 1000;
        
        nav {
            display: flex;
            flex: 1 100%;
            // background: blue;
            width: 90%;
            height: 100%;
            margin: auto;
            align-items: center;
            
            .logo {
                img {
                    width: 250px;
                    margin-left: -20px;
                }
            }
            ul {
                display: flex;
                flex: 1;
                li {
                    list-style-type: none;
                    font-weight: 500;
                    line-height: 1.28571429;
                    letter-spacing: normal;
                    display: inline-block;
                    padding: 1rem;
                    font-family: Helvetica;

                    a {
                        text-decoration: none;
                        color: #1d1d1d;
                        font-size: 1rem;
                        cursor: pointer;
                    &:hover {
                        // text-decoration: underline;
                        border-bottom: 2px solid #03396C;
                    }
                    &:focus-within, &:active {
                    outline: #03396C dotted 2px;
                    outline-offset: 5px;
                    }
                    }
                }

            @media screen and (max-width: 1000px) {
                display: none;
            }
            }
            div.button-nav {               
                margin-left: auto;
                display: flex;

                a {
                    background: #03396C;
                    text-transform: all;

                    &:hover, &:focus-within {
                        background: #154D82;
                    }
                }
                @media screen and (max-width: 1000px) {
                display: none;
            }
            }
            .nav__icon__display{
                display: none;
                @media screen and (max-width: 1000px) {
                display: block;
                margin-left: auto;
                cursor: pointer; 

                .search__display, .menu__display {
                    width: 1.5rem;
                }
                .search__display {
                    margin-right: 20px;
            }
        }   
            }
            .vendor__image {
                  @media screen and (max-width: 1000px){
                    display: none;
                  }
            }
           

       }
    }

    header.search__display{
        display: flex;
        align-items: center;
        justify-content: center;
        form{
            background: yellow;
            position: relative;
            width: 90%;
        }

        input {
            line-height: 1.75px;
            padding: 10px 16px;
            width: 100%;
            border: 2px solid $primary;
            border-radius: 4px;
        }
        button {
            position: absolute;
            right: 0px;
            top: 1px;
            background: $primary;
            border-radius: 0;
        }

    }
}



