ul,
li {
  list-style-type: none;
  margin: 0px;
}

a {
  text-decoration: none;
}

a:active {
  outline: none;
}
body {
  margin: 0px;
  font: 400 16px;
  background-color: azure;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin-top: 80px;
}

.max-width {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
}
