ul,
li {
  list-style-type: none;
  margin: 0px;
}

a {
  text-decoration: none;
}

a:active {
  outline: none;
}
body {
  margin: 0px;
  font: 400 16px;
  background-color: azure;
}

.container {
  max-width: 1200px;
  display: grid;
  margin: auto;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
